@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
* {
  box-sizing: border-box;
  color: silver;
  font-family: "Libre Franklin", sans-serif; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  /* height of sticky header */ }

body {
  background-color: #111111;
  padding: 1rem;
  padding-top: 0px;
  margin: 0.3rem;
  margin-top: 0px; }
  body nav {
    z-index: 12;
    position: sticky;
    top: 0rem;
    background-color: #111111;
    padding: 0rem 0.3rem;
    padding-top: 3rem;
    margin: 0rem 0.3rem;
    display: flex;
    justify-content: flex-end; }
    body nav a {
      background-color: #111111;
      border: solid #3d3d3d 1px;
      border-bottom: 0px;
      padding: 1rem;
      padding-bottom: 0.6rem;
      margin: 0.3rem;
      margin-bottom: 0px;
      text-decoration: none; }
  body section {
    margin-top: 0px; }
  body #welcome-section {
    padding: 1rem;
    margin: 0.3rem;
    margin-top: 0px;
    background-color: #272727;
    height: 103vh;
    position: relative; }
    body #welcome-section .video-wrapper, body #welcome-section img {
      z-index: 2;
      position: relative;
      top: 0vh;
      width: 100%;
      border: solid black 2px;
      overflow: hidden;
      height: 100vh;
      margin: 0%; }
      body #welcome-section .video-wrapper video, body #welcome-section img video {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover; }
    body #welcome-section .wrapper {
      margin: 0%;
      position: relative;
      transform: translateY(-100vh);
      top: 0px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.712);
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding-top: 20vh;
      align-items: center; }
      body #welcome-section .wrapper h1, body #welcome-section .wrapper h2, body #welcome-section .wrapper p {
        z-index: 10;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        padding: 1rem;
        margin: 0;
        text-align: center;
        border-bottom: solid black 1px;
        width: 60%; }
      body #welcome-section .wrapper h1 {
        font-size: 3.6rem; }
      body #welcome-section .wrapper p {
        font-size: 1.6rem;
        color: #51ffd4;
        background: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, rgba(0, 0, 0, 0.397) 30%, rgba(0, 0, 0, 0.63) 50%, rgba(0, 0, 0, 0.376) 70%, rgba(51, 51, 51, 0) 100%);
        padding: 2rem 6rem; }
  body #projects {
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.3rem; }
    body #projects .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1em;
      height: 100%;
      padding: 1rem;
      margin: 0.3rem; }
      @media only screen and (max-width: 1440px) {
        body #projects .wrapper {
          grid-template-columns: repeat(2, 1fr); } }
      @media only screen and (max-width: 900px) {
        body #projects .wrapper {
          grid-template-columns: repeat(1, 1fr); } }
      body #projects .wrapper .project-tile {
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin: 0.3rem;
        background-color: #111111;
        display: flex;
        padding-bottom: 0px;
        border: solid 1px black; }
        body #projects .wrapper .project-tile a {
          flex: 1;
          display: block;
          overflow: hidden;
          text-decoration: none; }
          body #projects .wrapper .project-tile a .img-container {
            flex: 1;
            overflow: hidden; }
            body #projects .wrapper .project-tile a .img-container img {
              width: 100%;
              object-fit: scale-down; }
          body #projects .wrapper .project-tile a h1 {
            width: 100%; }
  body #contact {
    padding: 1rem;
    margin: 0.3rem;
    background-color: #272727;
    height: 100vh; }
    body #contact .wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background-color: #1a1a1a;
      padding-top: 20vh;
      height: 100%; }
      body #contact .wrapper h1 {
        color: red;
        border: solid red 1px;
        font-size: 3rem; }
      body #contact .wrapper ul {
        padding: 1rem;
        margin: 0.3rem;
        display: flex;
        justify-content: center;
        border: solid red 1px;
        background-color: #111111; }
        body #contact .wrapper ul li {
          list-style-position: inside;
          list-style-type: none;
          background-color: #111111;
          border: solid #3d3d3d 1px;
          margin: 1rem; }
          body #contact .wrapper ul li a {
            background-color: #111111;
            padding: 1rem;
            margin: 0.3rem;
            display: inline-block;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.1s linear; }
            body #contact .wrapper ul li a:hover {
              background-color: #141414; }
            body #contact .wrapper ul li a i {
              color: red;
              font-size: 2rem;
              margin: 1rem; }
