@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
* {
      box-sizing: border-box;
      color: rgb(192, 192, 192);
      font-family: "Libre Franklin", sans-serif;
}
html {
      scroll-behavior: smooth;
      scroll-padding-top: 100px; /* height of sticky header */
}
body {
      background-color: rgb(17, 17, 17);
      padding: 1rem;
      padding-top: 0px;
      margin: 0.3rem;
      margin-top: 0px;
      nav {
            z-index: 12;
            position: sticky;
            top: 0rem;
            background-color: rgb(17, 17, 17);
            padding: 0rem 0.3rem;
            padding-top: 3rem;
            margin: 0rem 0.3rem;
            display: flex;
            justify-content: flex-end;
            a {
                  background-color: rgb(17, 17, 17);
                  border: solid rgb(61, 61, 61) 1px;
                  border-bottom: 0px;
                  padding: 1rem;
                  padding-bottom: 0.6rem;
                  margin: 0.3rem;
                  margin-bottom: 0px;
                  text-decoration: none;
            }
      }
      section {
            margin-top: 0px;
      }
      #welcome-section {
            padding: 1rem;
            margin: 0.3rem;
            margin-top: 0px;
            background-color: rgb(39, 39, 39);
            height: 103vh;
            position: relative;
            .video-wrapper,img{
                  z-index: 2;
                  position: relative;
                  top: 0vh;
                  width: 100%;
                  border: solid rgb(0, 0, 0) 2px;
                  overflow: hidden;
                  height: 100vh;
                  margin: 0%;
                  video{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        object-fit: cover;
                  }
            }
            .wrapper {
                  margin: 0%;
                  position: relative;
                  transform: translateY(-100vh);
                  top: 0px;
                  z-index: 10;
                  background-color: rgba(0, 0, 0, 0.712);
                  height: 100vh;
                  display:flex;
                  flex-direction:column;
                  padding-top: 20vh;
                  align-items:center;
                  h1,h2,p {
                        z-index: 10;
                        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; 
                        padding: 1rem;
                        margin: 0;
                        text-align: center;
                        border-bottom:  solid rgb(0, 0, 0) 1px;
                        width: 60%;
                  }
                  h1{
                        font-size:3.6rem;
                  }
                  p{
                        font-size:1.6rem;
                        color: rgb(81, 255, 212);
                        background: linear-gradient(to right,rgba(51, 51, 51, 0) 0%,rgba(0, 0, 0, 0.397) 30%, rgba(0, 0, 0, 0.63) 50%,rgba(0, 0, 0, 0.376) 70%, rgba(51, 51, 51, 0) 100%);
                        padding: 2rem 6rem;
                  }
            }
      }
      #projects {
            background-color: rgb(39, 39, 39);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            margin: 0.3rem;
            .wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  grid-template-rows: repeat(2, 1fr);
                  @media only screen and (max-width:1440px){
                        grid-template-columns: repeat(2, 1fr);
                  }
                  @media only screen and (max-width:900px){
                        grid-template-columns: repeat(1, 1fr);
                  }
                  grid-gap: 1em;
                  height: 100%;
                  padding: 1rem;
                  margin: 0.3rem;
                  .project-tile {
                        width: 100%;
                        height: 100%;
                        padding: 1rem;
                        margin: 0.3rem;
                        background-color: rgb(17, 17, 17);
                        display: flex;
                        padding-bottom: 0px;
                        border: solid 1px black;
                        a {
                              flex: 1;
                              display: block;
                              overflow: hidden;
                              text-decoration: none;
                              .img-container {
                                    flex: 1;
                                    overflow: hidden;
                                    img {
                                          width: 100%;
                                          object-fit: scale-down;
                                    }
                              }
                              h1 {
                                    width: 100%;
                              }
                        }
                  }
            }
      }
      #contact {
            padding: 1rem;
            margin: 0.3rem;
            background-color: rgb(39, 39, 39);
            height: 100vh;
            .wrapper{
                  display:flex;
                  justify-content:flex-start;
                  align-items:center;
                  flex-direction:column;
                  background-color: rgb(26, 26, 26);
                  padding-top: 20vh;
                  height:100%;
                  h1{
                        color: red;
                        border: solid red 1px;
                        font-size:3rem;
                  }
                  ul {
                        padding: 1rem;
                        margin: 0.3rem;
                        display: flex;
                        justify-content: center;
                        border: solid red 1px;
                        background-color: rgb(17, 17, 17);
                        li {
                              list-style-position: inside;
                              list-style-type: none;
                              background-color: rgb(17, 17, 17);
                              border: solid rgb(61, 61, 61) 1px;
                              margin: 1rem;
                              a {
                                    background-color: rgb(17, 17, 17);
                                    padding: 1rem;
                                    margin: 0.3rem;
                                    display: inline-block;
                                    text-decoration: none;
                                    display: flex;
                                    align-items:center;
                                    justify-content: center;
                                    transition:0.1s linear;
                                    &:hover{
                                          background-color:rgb(20, 20, 20);
                                    }
                                    i{
                                          color: red;
                                          font-size:2rem;
                                          margin: 1rem;
                                    }
                              }
                        }
                  }
            }
      }
}
